# Python
**/__pycache__
**/*.pyc

# Python setup.py
/build
/dist
/*.egg-info
/publish.sh

# TestMacro - Recorder
**/recorded

# PyTest
**/.coverage
/tests/test_macro.py
/tests/*.yml.bak

# IDE
.empty
.vscode
